@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

body{

  font-family: 'Poppins' , sans-serif;

}

form{
  margin-left: 700px;
  font-family: 'Poppins' , sans-serif;
  width: 500px;
  margin-top: -490px;

}

/* Estilos para os inputs */
input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"],
input[type="number"],
select {
    border-radius: 15px; /* Arredonda os cantos dos inputs */
    border: 1px solid #ccc; /* Adiciona uma borda */
    padding: 6px;
    margin-bottom: 10px;
    box-sizing: border-box;
    width: 250px;
}

 .mulher{

  margin-left : 125px;
  margin-top: -800;
  height: 200px;

 }

 h4{

  margin-left: 100px;
  font-family: 'Poppins' , sans-serif;
  font-weight: 500;
 }

 h6{

  margin-left: 100px;
  font-family: 'Poppins' , sans-serif;
  font-weight: 400;
 }

 h2{

  margin-left: 160px;
  font-family: 'Poppins' , sans-serif;
  font-weight: 400;
 }

 h1{

  font-family: 'Poppins' , sans-serif;
  font-weight: 400;
  margin-left: 100px;
 }

 .input2{

  margin-left: 100px;
  width: 300px;

 }



 
